/* styles.css */
.box {
    width: 100px;
    height: 100px;
    background-color: blue;
    color: white;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
}

.red {
    background-color: red;
}

.hover {
    background-color: green;
}
